/* .container{
    width: 90%;
    justify-content: center;
    align-content: center;
    height: 50vh;
    display: flex;
    padding-top: 20px;

} 

.head{
 display: flex;
  flex-direction: column; 
  justify-content: center;  
  align-items: center;      
  height: 100vh; 
} 

button{
    padding: 10px 13px;
    background-color: rgb(6, 72, 6);
    outline: none;
    border: none;
    color: white;
    border-radius: 3px; 
    margin-right: 15px;
    cursor: pointer;
}

input{
    padding: 8px 13px;
    outline: none;
    width: 12rem;
} */
